.tile{
    width: 8rem;
    height: 8rem;
    background-color: rgb(83, 135, 196);
    border-radius: 5px;
    margin: 3rem 3rem;
    color: azure;
    font-weight: 600;
    box-shadow: 5px 5px 10px black;

}
h3{
    font-size: 1.5rem;
}
p{
    margin-bottom: 0px;
}

.tile:hover{
    box-shadow: 10px 10px 10px black;
}

.image{
    margin: 0px;
    width: 90%;
    height: 80%;
    border-radius: 3px;
}

.modal{
    opacity: 1;
    background-color: aliceblue;
    border: 2px solid blue;
    border-radius: 10px;
    width: 80%;
    display: block;
    margin: 10% auto;
}

.modal:hover{
    box-shadow: 5px 5px 10px 5px black;
}

.modalHeader{
    display: block;
    margin-top: 0px;
    display: block;
    background-color: blue;
    text-align: center;
}

.modalBody{
    height: 20rem;
}
.modalInput, .modalOutput{
    display: flex;
    justify-content: center;
}
.i, .o{
    display: flex;
    align-items: center;
    justify-items: center;
}
.long, .short{
    display: inline-block;
    margin: 2rem;
    height: 1.5rem;
}
.long{
    width:20rem;
}
.short{
    width: 5rem;
}

#calculate{
    display: block;
    margin: 0 auto;
}

.big{
    width: 20rem;
}
.small{
    width: 15rem;
}
.big, .small{
    height: 1.5rem;
    margin: 2rem;
    border: 1px solid blue;
}
.modalOutput{
    flex-wrap: wrap;
}
.long, .short, .big, .small{
    text-align: center;
}

@media only screen and (max-width:500px) {
    h1{
        font-size: 1rem;
    }
    h3{
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 0.8rem;
    }
    p{
        font-size: 0.6rem;
    }
    .modal{
        margin: 20% auto;
    }
    .modalHeader{
        height: 2rem;
    }
    .modalInput, .modalOutput{
        margin-top: 3rem;
    }
    .tile{
        width:5rem;
        height:5rem;
        margin: 2rem 2rem;
    }
    .i, .o{
        display: block;
    }
    .long, .big{
        width: 5rem;
    }
    .short, .small{
        width: 3rem;
    }
    .long, .short, .big, .small{
        margin: 1rem;
        display: block;
        height: 0.8rem;
        font-size: 0.7rem;
    }
   
   


}